.anil-foods-logo{
    width: 80px;
    height: 70px;
}

.banner-section-bg-container{
    background-image: url("https://img.freepik.com/free-photo/grilled-meat-skewers-chicken-shish-kebab-with-zucchini-tomatoes-red-onions_2829-10942.jpg?w=996&t=st=1695204905~exp=1695205505~hmac=3705a94fa911861fca7902fb908ba3159c9b565d2d7cfcb388cda58587a0582d");
    background-size: cover;
    height: 100vh;
}

.banner-heading{
    color:white;
    font-family:"Roboto";
    font-size: 60px;
    font-weight: bold;

}

.banner-caption{
    color:white;
    font-family:"Roboto";
    font-size: 25px;
    font-weight: 500;

}

.custom-button{
    color: white;
    background-color:#fcba03;
    font-weight: 500;
    width: 130px;
    height: 45px;
    font-family: "Roboto";
    font-size: 15px;
    border-radius: 15px;
    border-width:0px;
    margin-right: 10px;


}

.custom-outline-button{
    color: #d0b200;
    background-color: transparent;
    width: 130px;
    height: 45px;
    border-style: solid;
    border-width: 1px;
    border-color: #d0b200;
    border-radius: 8px;

}

.wcu-section {
    background-color: #f9fbfe;
}

.wcu-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.wcu-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.wcu-card {
    text-align: center;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
}

.wcu-card-image {
    width: 87px;
    height: 90px;
}

.wcu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
}

.wcu-card-description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
}

.offers {
    color: #323f4b;
    font-style: italic;
    font-weight: 600;
}

.explore-menu-section{
    background-color: white;
}

.menu-section-heading{
    font-family: "Roboto";
    font-size: 28px;
    color: #183b56;
    font-weight: 700;

}

.menu-item-image{
    border-radius: 20px;
}

.menu-item-card{
    border-radius: 20px;
}

.menu-card-title{
    font-size: 18px;
    font-family: "Roboto";
    color: #323f4b;
    margin-top: 24px;
    font-weight: 500;
}

.menu-item-link {
    color:  #3333ff;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
}

.healthy-food-section{
    background-color: #f9fbfe;

}

.healthy-food-section-img{
    width: 250px;
}

.healthy-food-section-heading{
    color: #323f4b;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 600;
    padding-top: 18px;
}

.healthy-food-section-description{
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 300;
}

.delivery-and-payment-section{
    background-color: #f9fbfe;
}

.delivery-and-payment-section-heading{
    color: #323f4b;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 600;
    padding-top: 18px;
}

.delivery-and-payment-section-description{
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 300;
}

.delivery-and-payment-section-img{
    width: 250px;
}

.payment-card-img {
    width: 70px;
    height: 50px;
    margin-right: 28px;
}

.thanking-customers-section {
    background-image: radial-gradient(#fff8db, #fae38c);
}

.thanking-customers-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.thanking-customers-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.thanking-customers-section-img {
    width: 270px;
    margin-bottom: 20px;
}

.thanking-customers-section-modal-title {
    color: #d0b200;
    font-weight: 800;
}

.follow-us-section {
    background-color: white;
}

.follow-us-section-heading {
    text-align: center;
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.follow-us-icon-container {
    background-color: #faf7e8;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 15px;
    padding-top: 22px;
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: 22px;
}

.icon {
    color:#1a75ff;
    height: 35px;
    width: 35px;
}

.icon-instagram {
    color:palevioletred ;
    height: 35px;
    width: 35px;
}

.footer-section {
    background-color: #0d2436;
}

.footer-section-Anil-Foods{
    color: #959ead;
    font-family: "Breeserif";
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    margin-left: 10px;
}

.footer-section-Anil-Foods-description{
    color: #959ead;
    font-family: "Breeserif";
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    margin-left: 10px;
}

.footer-section-mail-id {
    color: #959ead;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}

.footer-section-address {
    color: #959ead;
    font-family: "Roboto";
    font-size: 14px;
}

.Anil-logo{
    width: 80px;
    height: 80px;
    border-radius: 40px;
}